


/* header */

.nav-a{
    color:#0d0d0d;
    
}   
.nav-item{
    font-family: 'Anton', sans-serif;
    font-size:40px;
    display: flex;
    flex-direction: row;
}
.navbar{
  display: flex;
    flex-direction: row;
}
  /* header of about */

  .nav-about{
    color:white; 
}   
.nav-item-about{
    font-family: 'Anton', sans-serif;
    font-size:40px;
    display: flex;
    flex-direction: row;
}
.navbar-about{
    display: flex;
    flex-direction: row;
    background-color: #000 ;
    padding: 8px 16px 8px 16px;
}

/* social */

.border{
  width: 331px;
  padding: 16px;

}

.pic1{
  height: 400px;
}
.meme1{
  height: 100px;
  margin-left:35%; 
  margin-right:35%;
}
.heart1{
  display: inline-block;
}
.border{
  width: 331px;
  padding: 16px;

}
.pic2{
  height: 400px;
  margin-left:0%; 
  margin-right:0%;
}
.heart2{
  display: inline-block;
}
.pic3{
  height: 400px;
  margin-left:0%; 
  margin-right:0%;
}
.heart3{
  display: inline-block;
}

/* body */



/* pac-man */

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

.back{
  background-color:#000;
  border-bottom:solid 5px blue;
  border-top:solid 5px blue;
  overflow-x:hidden;
  padding-bottom:160px;
}

p{
  color:#FFF;
  font: 60px 'Anton', sans-serif;
  margin:150px 139px;
  position:absolute;
  text-align:center;
}

.pacman{
  background-color:#000;
  /* margin:40px 10px; */
}

.pacman-top{
  background-color:yellow;
  height:100px;
  width:200px;
  border-radius:100px 100px 0 0;
  animation: spin1 0.5s infinite linear;
}

.pacman-bottom{
background-color:yellow;
  height:100px;
  width:200px;
  border-radius:0 0 100px 100px;
  animation: spin2 0.5s infinite linear;
}

.feed {
margin-top: -185px;
margin-left:15px;
width: 45px;
height: 45px;
border-radius: 30%;
-moz-animation: eat 1s linear 0s infinite;
-webkit-animation: eat 1s linear 0s infinite;
animation: eat 1s linear 0s infinite;
}   

/* Animation*/

@keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@-moz-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@-moz-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@-webkit-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@-webkit-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white,
      900px 65px 0 0 white, 
      1100px 65px 0 0 white, 
      1300px 65px 0 0 white;}
  
100% { box-shadow: 
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white, 
      900px 65px 0 0 white, 
      1100px 65px 0 0 white;}
}



@-moz-keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white,
      900px 65px 0 0 white, 
      1100px 65px 0 0 white, 
      1300px 65px 0 0 white;}
  
100% { box-shadow: 
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white, 
      900px 65px 0 0 white, 
      1100px 65px 0 0 white;}
}



@-webkit-keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white,
      900px 65px 0 0 white, 
      1100px 65px 0 0 white, 
      1300px 65px 0 0 white;}
  
  100% { box-shadow: 
        0px 65px 0 0 white, 
        100px 65px 0 0 white,
        300px 65px 0 0 white, 
        500px 65px 0 0 white, 
        700px 65px 0 0 white, 
        900px 65px 0 0 white, 
        1100px 65px 0 0 white;}
  }







/* photo-grid */

.nav-aa{
    color: blanchedalmond;
}




* {
    box-sizing: border-box;
  }

    body {
    margin: 0 0   ;
    font-family: Arial;
  }
  
  .header {
    text-align: center;
    padding: 15px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 0 0;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 10px;
    vertical-align: middle;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    }
    .footer2{
        color: black;
        display: block;
        position: static;
    }

  
  





    

    
